@import 'root.css';

header {
    width: calc(100% - 2em);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--tertiary-background-color);
}

header img {
    width: 100px;
    height: 100px;
}
