@import 'root.css';

header {
    background-color: var(--primary-background-color);
    width: calc(100% - 2em);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}
