:root {
    --primary-background-color: #3A6B89;
    --secondary-background-color: #000;

    --primary-color: #FFF;
    --secondary-color: #d9ad75;

    --secondary-color-hover: #7111D8;
    --tertiary-color-hover: #45C6D7;

    --discord: #5865F2;
}
